.container-small {
    margin-top: 3rem;
    padding-right: 72px;
    padding-left: 72px;
    width: 100%;
    font-family: var(--font-family);
}

.bio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
}

.container-small, .bio-text {
    color: var(--text-black)
}

.about-content {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.about-content-main {
    width: 40rem
}

.content-section {
    position: relative;
    margin-bottom: 40px;
    color: var(--thd-color-violet-90)
}

.about-content-sidebar {
    flex: 0 0 348px
}

.profile-info-section .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
    gap: 0.5rem
}

.profile-info-section {
    padding: 24px;
    border-radius: 8px;
    background: var(--thd-color-violet-90);
    color: var(--thd-color-violet-10)
}

.social-links-list {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0
}

.social-links-list li {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.social-links-list li > span{
    display: flex;
    justify-content: left;
    align-items: center;
}

.social-links-list a, .social-links-plaintext, .social-links-list-platform {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}

.social-links-list-platform {
    color: #999
}

.social-links-plaintext {
    color: #777
}

.section-label {
    font-size: 20px;
    font-weight: 500; 
    line-height: 1em;
    margin-bottom: 14px;
}
.nav button {
    background-color: #586380
}