.card-item {
  margin: 0.5rem auto;
  width: 45rem;
}

.card-item__tags {
  display: flex;
  /* justify-content: flex-start; */
  flex-wrap: wrap;
}

.card-item__tag {
  border: 1px solid #ccc;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 15px;
}

.card-item__info a {
  text-decoration: none;
}

.card-item__actions {
  margin-top: 1rem;
}