.footer-page{
    background-color: #586380;
    margin-top: 10rem;
}

.horizontal-line {
    border-top: 1px solid #282e3e;
}
.footer-container{
    width: 100%;
    padding: 0px 20px 30px;
    margin-top: 4rem;
}

.footer-container > h2 {
    text-align: center;
    color: white
}

.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    text-decoration: none;
    text-align: center;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}
.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.social-icons a:hover{
    background-color: #586380;
    transition: 0.5s;
}
.social-icons a:hover i{
    color: white;
    transition: 0.5s;
}
.footer-nav{
    margin: 30px 0;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footer-nav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footer-nav ul li a:hover{
    opacity: 1;
}
.footer-bottom{
    background-color: #0a092d;
    padding: 20px;
    text-align: center;
}
.footer-bottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footer-nav ul{
        flex-direction: column;
    } 
    .footer-nav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .social-icons a{
        padding: 8px;
        margin: 4px;
    }
}