@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root {
  line-height: 1.5;
  --border-radius: 20px;
  /* --grad-one: linear-gradient(#94bbe9, #eeaeca); */
  --grad-one: radial-gradient(circle, #dbb3ee 0%, #b2b3f1 100%);
  /* --grad-one: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  --grad-two: #6a6a6a;
  /* --grad-two: linear-gradient(#3f5efb, #fc466b); */
  --layout-width: 350px;
  --font-family: 'Raleway', sans-serif;
  background-color: white;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  --light-purple: #d1d1f7;
  --light-border: 1px solid #ccc;
  --button-color-bg: var(--thd-color-violet-60);
  --button-color-ol: var(--thd-color-button-ol);
  --box-shadow-width-in: 0 0 0 var(--border-width);
  --box-shadow-width-hv: 0 0.125em 1.25em;
  --border-width: 0.285em;
  --color-black: black;
  --danger-button-hover: #f34343;
  --label-color: var(--thd-color-violet-90);
  --thd-color-violet-10: #eff0ff;
  --thd-color-violet-30: #b2b3f1;
  --thd-color-violet-40: #9f92ec;
  --thd-color-violet-50: #7e75e6;
  --thd-color-violet-60: #565add;
  --thd-color-violet-80: #3d2e7c;
  --thd-color-violet-90: #2b1c50;
  --thd-color-magenta-10: #f8edfb;
  --thd-color-button-ol: rgba(85,89,221,.4);
  --thd-color-blue-10: #e3f3ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
}

body {
  /* max-width: 1600px; */
  margin-top:20px;
  color: var(--thd-color-violet-90) !important
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

select, select option {
  font-family: var(--font-family);
}

.invalid-input {
  color: var(--danger-button-hover)
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
